<table>
    <tr>
        <td>Unesite staru lozinku:</td>
        <td>
            <input type="password" name="oldPassword" [(ngModel)]="oldPassword">
        </td>
    </tr>
    <tr>
        <td>Unesite novu lozinku:</td>
        <td>
            <input type="password" name="newPassword1" [(ngModel)]="newPassword1">
        </td>
    </tr>
    <tr>
        <td>Potvrdite novu lozinku:</td>
        <td>
            <input type="password" name="newPassword2" [(ngModel)]="newPassword2">
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="changePassword(email, oldPassword, newPassword1, newPassword2)">Promijeni lozinku</button>
        </td>
    </tr>
</table>